body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100vh;

    background-color: #0E0E0E;
    background-image: url("../assets/fond-site.png");
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;

    /*background-image: url("../assets/fond-site.jpg");
    background-size: cover;*/
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    width: 100%;
}

nav img {
    width: 12rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
}

.left {
    width: 50%;
}

header h1 {
    font-size: 2.6rem;
    color: white;
    font-family: "SF Pro Display", sans-serif;
    width: 60%;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cta {
    text-decoration: none;
    color: white;
    background-color: #ff3c2a;
    padding: 0.8rem 1.6rem;
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.7rem;
    border: solid 0.5px #ff3c2a;
}

.cta:hover {
    background-color: #0E0E0E;
    color: white;
    border: solid 0.5px #ff3c2a;
}

#github {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.8rem 1.6rem;
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.7rem;
    border: solid 0.5px white;
}

#github:hover {
    background-color: #0E0E0E;
    color: white;
    border: solid 0.5px white;
}
